body {
	margin: 100px;
}

.border {
	border: 1px solid rgba(0, 0, 0, .125);
	padding: 10px;
	margin-right: 50px;
}

.tooltip {
	position: relative;
}

.tooltip .text {
	display: none;
	width: 120px;
	background: #000;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 5px 0;

	z-index: 1;
	position: absolute;
}

.tooltip:hover .text {
	display: inline-block;
}

.top {
	bottom: 120%;
	left: 50%;
	margin-left: -60px;
}

/* Ok ekleme */
.top::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	/* Border ile ok ekleme Uzun yolu */
	border-top: 5px solid #000;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

.bottom {
	bottom: -90%;
	left: 50%;
	margin-left: -60px;
}

/* Ok ekleme */
.bottom::after {
	content: "";
	position: absolute;
	bottom: 100%;
	right: 50%;
	margin-left: 15px;
	/* Border ile ok ekleme Kısa yolu */
	border-width: 5px;
	border-style: solid;
	border-color: transparent		/* Top */
					transparent		/* Right */
					#000			/* Bottom */
					transparent;	/* Left */
}

.right {
	left: 105%;
	bottom: 10%;
}

.right::after {
	content: "";
	position: absolute;
	top: 32%;
	left: -7%;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #000 transparent transparent;
} 

.left {
	right: 110%;
	bottom: 10%;
}

.left::after {
	content: "";
	position: absolute;
	top: 32%;
	right: -7%;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent #000;
} 