/* 
	Group Selector

	* CSS'de grup seçiciler, birden fazla etiketi aynı anda seçmek için kullanılır. 
	* Bu, kodun daha temiz hale getirir ve kod tekrarını azaltır.

	1 : (*) 		=> Tüm etiketler
	2 : (p) 		=> Tüm <p> etiketleri
	3 : (div p) 	=> Tüm <div> etiketleri içindeki <p> etiketleri
	4 : (div, p) 	=> Tüm <div> ve <p> etiketleri (derinlik fark etmez)
	5 : (div > p) 	=> Sadece doğrudan <div>'in bir altındaki <p> etiketlerini seçer
	6 : (div ~ p) 	=> <p> ile aynı seviyede bulunan ve <div> etiketinden sonra gelen tüm <p> etiketleri
	7 : (div + p) 	=> <div> etiketinden hemen sonra gelen <p> etiketleri
*/

/* * {
	border: 1px solid #000;
} */

p {
	border: 2px solid blue;
}

div p {
	border: 2px solid red;
}

.conteiner {
	border: 2px solid green;
}

.conteiner .box {
	border: 2px solid orange;
}

div > p {
	border: 2px solid purple;
}