/* Genel Kodlar */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 6px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
}

section {
	padding-top: 10rem;
	padding-bottom: 10rem;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style-type: none;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/* margin değeri verilemeyeceği bir durumdayken sayfa lenarlarına 
	yapışık olmaması için */
	padding-left: .5rem;
	padding-right: .5rem;
}

.col {
	float: left;
	width: 100%;
	padding: 1rem;
}

.text-uppercase {
	text-transform: uppercase;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.star-line {
	border: none;
	border-top-width: .4rem;
	border-top-style: solid;
	/* Renklerini ise özel class'larda verdik */

	max-width: 25rem;
	margin: 2.5rem auto;

	/* 
		"::after"dan sonra gelen elemanı yukarı alırken arka planda
	 	kalıyordu biz de düzgün durması için taşmaya izin verdik 
	*/
	overflow: visible;

	/* 
       ::after ile eklenen eleman, hr'nin içerisine ekleniyor gibi görünüyor. 
       Pseudo-elementin boyutu parentin yüksekliğini artırdığı için burada 
       height: 0 vererek bu ekstra yüksekliği sıfırlıyoruz.
       
       (::after'ın hr içine eklendiğini görmek için hr'ye tüm kenarlardan border
        vererek test edebilirsiniz)
    */
	height: 0;
}

.star-line::after {
	content: "\f005";
	/* unicode, başında '\' olmalı */
	/* 
	Font Family'si burada incelenip bulunabilir.
	- https://docs.fontawesome.com/web/add-icons/how-to 
	*/
	font-family: "Font Awesome 7 Free";

	font-weight: 900;
	/* Yıldızın içerisini doldurduk */
	font-size: 3rem;

	position: relative;
	top: -2.5rem;
	/* Çizginin üstüne taşıyoruz */
	padding: 0 .8rem;
}

.img-radius-container {
	border-radius: 50%;
	width: 20rem;
	height: 20rem;
	margin: 0 auto;
	/* Blok elementi ortalamak için */
	overflow: hidden;
	/* img'e radius vermeye gerek kalmaz */
}

.img-radius-container .img-radius {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.btn {
	display: inline-block;
	font-weight: 400;
	background-color: transparent;
	border-width: 2px;
	border-style: solid;
	border-radius: .4rem;
	cursor: pointer;
	transition: all .5s;
}

.btn-social {
	display: inline-block;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	font-size: 2rem;
}

/* Social butonlar <a> ile olduğu için içerisine eklenilen <i> leri ortalamak
işlem yapılması gerekir.
Eğer <button> ile yapılsaydı direkt ortalanırdı*/
.btn-social i {
	position: relative;
	top: 40%;
	transform: translateY(-50%);
}

.btn-lg {
	font-size: 2rem;
	padding: 2.2rem 1.8rem;
}

.btn-outline {
	margin-top: 4rem;
	color: #fff;
	border-color: #fff;
	background-color: transparent;
}

.btn-outline:hover {
	color: #212529;
	background-color: #fff;
}

.btn-primary {
	margin-top: 1.5rem;
	padding: .8rem 1.5rem;
	color: #fff;
	border-color: #18bc9c;
	background-color: #18bc9c;
}

.btn-primary:hover {
	border-color: #18bc9c;
	color: #18bc9c;
	background-color: #fff;
	/* filter: brightness(0.8); */  /* koyulaşma */
}

/* Navbar */

nav {
	font-family: "Montserrat", sans-serif;
	background-color: #2C3E50;
	color: #fff;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;

	/* 'fixed' değerini verdikten sonra <nav> sayfa akışından dışarı çıkar
	ve defaylt olarak kapaldığı yer içerik kadar olur.
	Bunun için width değeri vermemeiz gerekir. */
	position: fixed;
	width: 100%;

	/* Sayfa içerisindeki diğer relative, absolute gibi 
	değeri olan elemanlar navbarın üstüne çıkmasın diye*/
	z-index: 500;
}

#logo-box {
	float: left;
	padding-top: .5rem;
}

#logo-box .logo {
	color: #fff;
	font-weight: 700;
	font-size: 3.2rem;
}

#nav-links {
	float: right;
}

#nav-links .nav-item {
	float: left;
}

#nav-links .nav-item .nav-link {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	display: block;
	padding: 1.6rem;
	letter-spacing: .1rem;
	transition: all .5s;
	border-radius: .5rem;
}

#nav-links .nav-item .nav-link:not(.nav-menu):hover {
	background-color: #18bc9c;
	color: #fff;
}

#nav-links .nav-item .nav-menu {
	/* 
		İLGİNÇ BİLGİ :
			- CSS dosyasında en son CSS çalışır
			- Ancak önceki CSS, sonraki CSS'den selector erişimi olarak
			daha spesifik ise önceki kazanır.
			- Mesela burası için "#nav-links .nav-item .nav-menu" yerine
			"#nav-links .nav-menu" şeklinde erişirsek çalışmaz xd
	*/
	display: none;
}

/* navbar responsive */
@media (max-width: 992px) {
	#logo-box {
		float: none;
		text-align: left;
	}

	#nav-links {
		float: none;
	}

	#nav-links.responsive li:not(:first-child) {
		/* 
      		- Eğer #nav-links elementine ".responsive" sınıfı eklenmişse,
      		  menü öğeleri gizlenir (ilk öğe hariç).
      		- Bu sayede hamburger ikonuna tıklandığında JS ile
      		  .responsive sınıfını ekleyip çıkararak menüyü açıp kapatabiliyoruz.
			- li:not(:first-child)
				> li elementlerinden ilki hariç diğerleri üzerinde aşağıdaki
				durumu üzerlerinde uygula
		*/
		display: none;
	}

	#nav-links .nav-item {
		float: none;
		text-align: left;
	}

	#nav-links .nav-item .nav-link {
		font-size: 2rem;
		padding-left: 1rem;
	}

	#nav-links .nav-item .nav-menu {
		display: block;
		position: absolute;
		top: 1rem;
		right: 1rem;
		font-size: 3rem;
	}

	#nav-links .nav-item .nav-menu.active {
		color: #18bc9c;
	}
}

/* Header */

header {
	background-color: #18bc9c;
	padding-top:
		/* calc() toplama yapmak için kullanılır. */
		calc(104px + 10rem);
	/* 104px değeri navbarın bittiği yerden başlaması için */
	padding-bottom: 104px;
	text-align: center;
	/* Blok elementleri ortalayamaz. 
						Zaten satırı kaplıyorlar */
}

header h1 {
	color: #fff;
	font-size: 7.6rem;
}

header h2 {
	color: #fff;
	font-size: 2.8rem;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
}

.star-light {
	border-top-color: #fff;
}

.star-light::after {
	color: #fff;
	background-color: #18bc9c;
}

/* portfolio */

#portfolio h2 {
	font-size: 4.8rem;
	color: #2c3e50;
}

.star-dark {
	border-top-color: #2C3E50;
}

.star-dark::after {
	color: #2C3E50;
	background-color: #fff;
}

.portfolio-item {
	padding: 1.5rem 0; 		/* Üstten boşluk vermek için */
	position: relative;		/* Overlay için */
}

.portfolio-item img {
	display: block;
	height: 50rem;
}

.img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #18bc9c;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}

.img-overlay .icon {
	color: #fff;
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.portfolio-item:hover .img-overlay {
	opacity: .8;
}

/* Bazı resimlerin ortalanmasının düzenlenemsi */
.portfolio-item-5 img,
.portfolio-item-1 img {
	/* Sola hizalı dikeyde ortalı */
	object-position: left center;
}

.portfolio-item-3 img {
	object-position: left top;
}

/*
	Renkler :
		#B75C6F
		#52ACBB
		#120D0C
		#3A7DAD
		#173AA2
		#BDA9A1
*/
.portfolio-item-1 {
	background-color: #7E4139;
}

.portfolio-item-2 {
	background-color: #45FFFF;
}

.portfolio-item-3 {
	background-color: #9597A7;
}

.portfolio-item-4 {
	background-color: #2C8C68;
}

.portfolio-item-5 {
	background-color: #B69BA0;
}

.portfolio-item-6 {
	background-color: #015468;
}

/* about */

#about {
	background-color: #18bc9c;
	color: #fff;
}

#about h2 {
	font-size: 4.8rem;
}

.about-text .right,
.about-text .left {
	width: 100%;
	padding: 1rem .5rem;
}

.about-text .text {
	font-size: 2rem;
	text-align: justify;
}

/* Contact */

#contact h2 {
	font-size: 4.8rem;
	color: #2C3E50;
}

.contact-form {
	width: 70%;
	margin: 0 auto;
	text-align: left;
}

.form-group {
	border-bottom: 1px solid #8a8b8d;
	padding-bottom: 2rem;
	margin-bottom: 4rem;
}

.form-group textarea,
.form-group input {
	border: none;
	width: 100%;
	display: inline-block;
	font-size: 2.4rem;
}

.form-group textarea:focus,
.form-group input:focus {
	outline: 0;
}

/* Footer */

footer {
	padding-top: 6rem;
	padding-bottom: 6rem;
	background-color: #2C3E50;
	color: #fff;
	text-align: center;
}

footer h4 {
	font-size: 2.4rem;
}

footer p {
	font-size: 2rem;
	margin-top: 1rem;
}

footer li {
	display: inline-block;
	margin-right: 1rem;
}

/* Copyright */

.copyright {
	background-color: #1a252f;
	padding-top: 2.4rem;
	padding-bottom: 2.4rem;
	color: #fff;
	text-align: center;
}

/* Responsive */

/* Alt sınırlar ekliyoruz */
@media (min-width: 576px) {

	.container {
		max-width: 540px;
	}

	html {
		font-size: 7px;
	}
}

@media (min-width: 768px) {

	.container {
		max-width: 720px;
	}

	html {
		font-size: 8px;
	}

	.col {
		width: 50%;
	}
}

@media (min-width: 992px) {

	.container {
		max-width: 960px;
	}

	html {
		font-size: 9px;
	}

	.col {
		width: 33.3333333%;
	}

	.about-text .right {
		float: left;
		width: 50%;
		padding: 1rem 2rem;
	}
	
	.about-text .left {
		float: right;
		width: 50%;
		padding: 1rem 2rem;
	}
}

@media (min-width: 1200px) {

	.container {
		max-width: 1140px;
	}

	html {
		font-size: 10px;
	}
}