.container {
	/* width: 1140px; */
}

.blog-post-container {
	width: 75%;
	float: left;
}

.other-posts {
	width: 25%;
	float: right;
}

.auther-box {
	clear: left;
}

.auther-box img {
	margin-top: 10px;
}
