
/* 
	===================================================
   		PSEUDO ELEMENTS ve PSEUDO CLASSES
   	===================================================

		1. Pseudo Elements (::) -> Elementin belirli kısmını seçmek için
      		- Örnek: ::first-letter, ::first-line, ::before, ::after
   		
		2. Pseudo Classes (:) -> Elementin durumu veya konumuna göre seçim
      		- Örnek: :hover, :active, :first-child, :last-child, :nth-of-type
*/


/* 
=============================
   Paragraf (<p>) örnekleri
=============================
*/

/* <p> etiketlerinin sadece İLK SATIRINI hedefler */
p::first-line {
	color: brown;
	font-weight: bold;
	word-spacing: 2px;
	letter-spacing: 1px;
}

/* <p> etiketlerinin sadece İLK HARFİNİ hedefler */
p::first-letter {
	font-size: 48px;
}

/* class="about" olan <p> etiketlerinin ilk satırını özel renklendir */
p.about::first-line{
	color: darkgreen;
}

/* Her <p> etiketinin SONRASINA içerik ekler */
p::after {
	content: "-after";
	display: block;
	background-color: yellow;
}

/* Her <p> etiketinin ÖNCESİNE içerik ekler */
p::before {
	content: "-before";
	display: block;
	background-color: yellow;
}

/* 
========================
 Liste (<ul>, <li>) Örnekleri
========================
*/

/* <ul> içerisindeki İLK <li> elemanını seçer */
ul li:first-child {
	background-color: lightcoral;
}

/* <ul> içerisindeki SON <li> elemanını seçer */
ul li:last-child {
	background-color: lightcoral;
}

/* <ul> içerisindeki ÇİFT numaralı <li> elemanlarını seçer */
ul li:nth-of-type(even) {
	border: 2px solid black;
}

/* <ul> içerisindeki TEK numaralı <li> elemanlarını seçer */
ul li:nth-of-type(odd) {
	border: 2px solid chocolate;
}

/* Tüm <li> elemanları için genel stil */
ul li {
	padding: 10px;
	margin-bottom: 10px;
	list-style: none;
}

/* 
========================
 Link (<a>) Örnekleri
========================
*/


a {
	padding: 5px 8px;
	text-decoration: none;
	display: block;
	width: 80px;
	border: 1px solid gray;
	margin-bottom: 10px;
}

/* Henüz ziyaret edilmemiş bağlantılar */
a:link {
	color: red;
}

/* Daha önce ziyaret edilmiş bağlantılar */
a:visited {
	color: gray;
}

/* Üzerine gelindiğinde */
a:hover {
	color: white;
	background-color: green;
}

/* Tıklanma anında */
a:active {
	color: green;
	background-color: gold;
}

/* 
========================
 Hover ile içerik gösterme
========================
*/

span {
	display: none;
	background-color: yellow;
	padding: 20px;
}

div:hover span {
	display: block;
}