
/* Attribute'ı title ile olan p etiketleri  */
p[title] {
	border: 1px solid gray;
	padding: 5px;
}

/* title attribute'ı içerisinde "second" geçen p etiketleri */
p[title~="second"] {
	background-color: lightgreen;
}

/* title attribute'ı "third paragraf" olan p etiketleri için stil ayarları */
p[title="third paragraf"] {
	background-color: lightblue;
}

/* "http" ile başlayan href attribute'ına sahip <a> lar */
a[href^="http"] {
	color: burlywood;
}

/* href attribute'ı "com" ile biten <a> etiketleri */
a[href$="com"] {
	color: rgb(255, 72, 0);
}

/* Aynı anda iki attribute'a göre seçim yapar */
a[href="https://example.net"][target=_blank] {
	color: blue;
}

input[type="text"] {
	background-color: lightyellow;
}

input[type="button"] {
	background-color: lightcoral;
}