* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
}

h2 {
	margin-bottom: 10px;
}

.container {
	width: 1140px;
	margin: 20px auto;
}

.blog-post-container {
	width: 75%;
	float: left;
}

.other-posts {
	width: 25%;
	float: right;
	padding-left: 10px;
}

.inner-other-posts {
	position: fixed;
	top: 20px;
}

.auther-box img {
	margin-top: 10px;
}

.box {
	background-color: white;
	margin-bottom: 15px;
	padding: 20px;
}

.blog-post {
	position: relative;
}

.date {
	position: absolute;
	right: 50px;
	top: 20px;
}

.blog-text {
	margin-top: 15px;
}

.blog-post img {
	width: 100%;
}

.tags li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}

.tags li a {
	text-decoration: none;
}

.auther-box {
	border: 1px solid rgb(0, 0, 0, .125);
	float: left;
	padding-top: 10px;
}

.auther-box img {
	border-radius: 50%;
	float: left;
}

.auther-text {
	float: left;
	margin-top: 50px;
	margin-left: 15px;
}