
/* 
	==========================
		External CSS
	==========================
	
	* External CSS, html dosyalarına ayrı bir CSS dosyası ekleyerek stil uygulamayı sağlar.

	* Eğer external CSS, html sayfası ile bağlanmaz ise, o sayfa bu CSS dosyasındaki stil 
	kurallarını alamaz.
	
	* Bu yöntem, stil kurallarını merkezi bir yerde tutarak, tüm sayfalarda aynı stil 
	kurallarını kullanmamızı sağlar.
	
	* Bu sayede, stil değişikliklerini tek bir dosyada yaparak, tüm sayfalarda bu 
	değişikliklerin otomatik olarak uygulanmasını sağlar.
	
	* Tüm html sayfalarını aynı css'ye bağalyarak olulturabildiğimiz gibi 
	her biri için ayrı css dosyaları da oluşturabiliriz.
*/

h1 {
	color: red;
	border: 1px solid red;
}

a {
	color: blue;
	text-decoration: none;
}

li {
	display: inline;
}